@font-face {
	font-family: 'mkx_titleregular';
	src: url('../fonts/mkx_title-webfont.eot');
	src: url('../fonts/mkx_title-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/mkx_title-webfont.woff2') format('woff2'),
		 url('../fonts/mkx_title-webfont.woff') format('woff'),
		 url('../fonts/mkx_title-webfont.ttf') format('truetype'),
		 url('../fonts/mkx_title-webfont.svg#mkx_titleregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'memento_regular';
	src: url('../fonts/Memento.ttf');
	font-weight: normal;
	font-style: normal;
}

@keyframes pulse {
	0% { transform: scale(1); }
	50% { transform: scale(0.99); color: #DEDEDE; }
	100% { transform: scale(1); }
}

@keyframes flicker {
	0% { opacity: 0.4; }
	50% { opacity: 1 }
	100% { opacity: 0.4; }
}

@keyframes slide {
	0% { margin-left: 0%;}
	50% { margin-left: -40%;}
	100% { margin-left: 0%;}
}

@keyframes cuePulse {
	0% {
		-webkit-transform: scale(0.5, 0.5);
		transform: scale(0.5, 0.5);
		box-shadow: 0px 0px 3px rgba(255,255,255,0)
	}

	50% {
		box-shadow: 0px 0px 3px #fff;
		opacity: 1
	}

	98% {
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1);
		box-shadow: 0px 0px 8px rgba(255,255,255,0);
		opacity: 0
	}

	100% {
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1);
		opacity: 0
	}
}

@keyframes fadeOut {
	0% { display: block; opacity: 1; }
	99% { display: block; opacity: 0}
	100% { display: none; opacity: 0; }
}

@keyframes fadeIn {
	0% { display: block; opacity: 0; }
	50% { display: block; opacity: 0.5 }
	100% { display: block; opacity: 1; }
}
@keyframes fadeIn50 {
	0% { display: block; opacity: 0; }
	100% { display: block; opacity: 0.5 }
}


.btn-logout {
	background: 0;
	border: 0;
	padding: 10px 5px;
	font-size: 22px;
	color: #888788;
	cursor: pointer;
	transition: color 0.4s ease;
}

.btn-logout:hover {
	color: #E4E3E4;
}

.btn-logout:active,
.btn-logout:focus {
	outline: none;
}

canvas {
	margin: 0 auto;
}