@import "__avatar/bar-top__avatar.scss";
@import "__avatar-img/bar-top__avatar-img.scss";
@import "__logout/bar-top__logout.scss";
@import "__name/bar-top_name.scss";

.bar-top {
	position: relative;
	display: block;
	float: right;

	&_invisible {
		display: none;
	}
}
