@import "__game/page__game.scss";
@import "__bar-top/page__bar-top.scss";

.page, html {
	height: 100%;
	overflow: hidden;
	user-select: none;
}

.page {
	margin: 0;
	background: #000;
	min-height: 650px;
	/*cursor: none;*/
	font-family: 'memento_regular';
}
