i.avatar {
	&__camera {
		font: normal normal normal 130px/1 FontAwesome;
		color: #888788;
		padding: 45px 0 45px;
		transition: all 0.4s ease;
		cursor: pointer;
	}
}

.avatar__camera:hover,
.avatar__camera:active,
.avatar__camera:focus,
.avatar__delete:hover,
.avatar__delete:active,
.avatar__delete:focus {
	color: #E4E3E4;
}